* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

body {
  overflow: hidden;
}

#canvas1 {
  overflow: hidden;
  border: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

#title {
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 3rem;
  text-align: center;
  z-index: 1;
  padding: 10px;
  white-space: nowrap;
  background-color: transparent;
  /* width: 30vw;
  height: 10vh; */
}

#title a {
  text-decoration: none;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 3rem;
  color: inherit;
  background: -webkit-linear-gradient(#ffffff, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

@media (max-width: 3000px) {
  #title a {
    font-size: 3.5rem;
  }

  #navbar a {
    font-size: 2.2rem;
  }
}

@media (max-width: 800px) {
  #title a {
    font-size: 2.6rem;
  }

  #navbar a {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  #title a {
    font-size: 2.2rem;
  }

  #navbar a {
    font-size: 1.4rem;
  }
}

#navbar {
  position: absolute;
  top: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 20px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

#navbar a {
  color: #757575;
  font-family: 'Darker Grotesque', sans-serif;
  text-decoration: none;
  /* font-size: 2.5rem; */
}

#navbar a:hover {
  color: #ffffff;
}

.text {
  display: block;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.5rem;
  color: rgb(170, 170, 170);
  top: 0;
  left: 0;
  z-index: 105;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-color: transparent;
  text-align: center;
  /* Change 0.5s to the duration you want */
  position: relative;
  /* Make the paragraphs overlap so they can fade into each other */

}

.p {
  display: block;
  z-index: 105;
}

p,
a {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.5rem;
  color: rgb(170, 170, 170);
  background-color: transparent;

}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #ffffff;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 0;
  z-index: 105;
}

#content {
  margin-top: -20vh;
  margin-left: -1.5vw;
  width: 60vw;
  height: 35vh;
}

#contentIframe {
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background-color: black;
}

iframe {
  background-color: black;
}

#textAbout {
  /* top: 200px;
  left: 40px;
  width: 300px;
  height: 300px; */
  max-width: 80vw;
}

#textCV {
  max-width: 80vw;
  font-size: 1.3rem;
  height: 252px;
  overflow-y: auto;
  /* width: calc(100% - 12px); */
  padding-right: 18px;
  padding-left: 18px;
}


#textContact {
  /* top: 200px;
  left: 40px;
  width: 400px;
  height: 300px; */
  max-width: 80vw;
}

#fullCV {
  font-style: oblique;
  /* color: black; */
  /* background-color: white; */
}

#socials {
  position: fixed;
  bottom: 5vh;
  /* Adjust as needed */
  right: 5vw;
  /* width: 100%; */
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
  /* Space between the links */
  z-index: 100;
  background-color: transparent;
}

#socials a {
  /* Styles for your social media links */
  color: #757575;
  /* The color of your SVGs */
}

#socials a img {
  position: relative;
  z-index: 100;
  height: 24px;
  width: 24px;
  background-color: transparent;
}

#socials a:hover {
  color: #ffffff;
  /* The color of your SVGs on hover */
}

.icon {
  height: 2rem;
  /* Adjust size as needed */
  width: 2rem;
  /* Adjust size as needed */
  color: #757575;
  margin-right: 1rem;
}

.icon:hover {
  color: #ffffff;
  /* Change color on hover */
}