* {
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

body {
  overflow: hidden;
}

#canvas1 {
  overflow: hidden;
  border: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

#title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 3rem;
  text-align: center;
  z-index: 1;
  padding: 10px;
  white-space: nowrap;
  background-color: transparent;
  /* width: 30vw;
  height: 10vh; */
}

#title a {
  text-decoration: none;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 3rem;
  color: inherit;
  background: -webkit-linear-gradient(#ffffff, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* display: block; */
}

@media (max-width: 3000px) {
  #title {
    top: 2vh;
  }

  #title a {
    font-size: 3.5rem;
  }

  #content {
    margin-top: -20vh;
    width: 60vw;
  }

  #navbar {
    top: 15vh;
    gap: 3rem;
  }

  #navbar a {
    font-size: 2.2rem;
  }

  #imageCarousel {
    top: 6vh;
    height: 50vh;
    width: 50vh;
  }
}

@media (max-width: 800px) {

  #title {
    top: 0vh;
  }

  #title a {
    font-size: 2.6rem;
  }

  #navbar {
    top: 12vh;
    gap: 2rem;
  }

  #navbar a {
    font-size: 1.8rem;
  }

  #content {
    margin-top: -20vh;
    width: 60vw;
  }

  #textAbout p {
    font-size: 0.8;
  }

  #textAbout {
    top: 1vh;
  }

  #imageCarousel {
    top: 4vh;
    width: 70vh;
    height: 50vh;
  }
}

@media (max-width: 500px) {
  #title {
    top: 1vh;
  }

  #title a {
    font-size: 2.2rem;
  }

  #navbar {
    top: 12vh;
    gap: 1.5rem;
  }

  #navbar a {
    font-size: 1.4rem;
  }

  #content {
    margin-top: -30vh;
    width: 80vw;
  }

  #textAbout p {
    font-size: 0.4;
  }

  #textAbout {
    top: -5vh;
  }

  #imageCarousel {
    top: 0vh;
    height: 40vh;
    width: 85vw;
  }
}

.nav-link {
  white-space: nowrap;
}

#navbar {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

#navbar a {
  color: #757575;
  font-family: 'Darker Grotesque', sans-serif;
  text-decoration: none;
  /* font-size: 2.5rem; */
}

#navbar a:hover {
  color: #ffffff;
}

.text {
  /* display: block; */
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.5rem;
  color: rgb(170, 170, 170);
  top: 0;
  left: 0;
  z-index: 105;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-color: transparent;
  /* text-align: left; */
  /* Change 0.5s to the duration you want */
  position: relative;
  /* Make the paragraphs overlap so they can fade into each other */
  overflow-y: auto;
}

.p {
  /* display: block; */
  z-index: 105;
}

p,
a {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.5rem;
  color: rgb(170, 170, 170);
  background-color: transparent;

}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #ffffff;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 0;
  z-index: 105;
}

#content {
  margin-left: -1.5vw;
  height: 35vh;
}

#contentIframe {
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background-color: black;
}

iframe {
  background-color: black;
  user-select: none;
  /* Standard syntax */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

#textAbout {
  /* top: 200px;
  left: 40px;
  width: 300px;
  height: 300px; */
  max-width: 100vw;
  overflow-y: auto;
  height: 65vh;
  top: 5vh;
  text-align: center;
}

#textCV {
  max-width: 80vw;
  font-size: 1.3rem;
  top: 5vh;
  height: 65vh;
  overflow-y: auto;
  /* width: calc(100% - 12px); */
  padding-right: 18px;
  padding-left: 18px;
  text-align: left;
}

#textArt {
  display: grid;
  height: 70vh;
  top: 4vh;
  padding-right: 10px;
  /* padding-left: 10px; */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* Responsive grid with 1-3 columns */
  grid-gap: 20px;
  /* Spacing between tiles */
  max-width: 100%;
  overflow-y: auto;
}


.art-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #858585;
  border-radius: 10px;
  margin: 0;
  /* Remove margin to prevent extra spacing between tiles */
  cursor: pointer;
  /* To indicate it's clickable */
  justify-content: space-between;
}

.art-tile a {
  text-decoration: none;
  /* Remove underline from the anchor */
  color: inherit;
  /* Inherit text color from parent */
  flex: 1;
  /* Make the anchor expand to fill the flex container */
}

.no-wrap {
  white-space: nowrap;
}

.art-tile img {
  max-width: 100%;
  height: auto;
}

#textContact {
  /* top: 200px;
  left: 40px;
  width: 400px;
  height: 300px; */
  max-width: 80vw;
  top: 10vh;
  text-align: center;
}

#fullCV {
  font-style: oblique;
  /* color: black; */
  /* background-color: white; */
}

#socials {
  position: fixed;
  bottom: 5vh;
  /* Adjust as needed */
  right: 5vw;
  /* width: 100%; */
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
  /* Space between the links */
  z-index: 5000;
  background-color: transparent;
}

#socials a {
  /* Styles for your social media links */
  color: #757575;
  /* The color of your SVGs */
}

#socials a img {
  position: relative;
  z-index: 100;
  height: 24px;
  width: 24px;
  background-color: transparent;
}

#socials a:hover {
  color: #ffffff;
  /* The color of your SVGs on hover */
}

.icon {
  height: 2rem;
  /* Adjust size as needed */
  width: 2rem;
  /* Adjust size as needed */
  color: #757575;
  margin-right: 1rem;
}

.icon:hover {
  color: #ffffff;
  /* Change color on hover */
}

/* The scrollbar itself */
::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: #222222;
  /* color of the tracking area */
  border-radius: 3px;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161);
  /* scrollbar handle color */
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* scrollbar handle color when hovered */
}

.tooltip {
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  z-index: 9999;
  font-family: Arial, sans-serif;
}

#carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80vw; */
  height: calc(100vh - 100px);
}

#imageCarousel {
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
  border: solid rgb(161, 161, 161) 1px;
  /* Your other styles */
}